<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Spring WebFlux Streaming"/>
    <meta name="author" content="Brian Clozel and Sebastien Deleuze"/>
    <title>Spring WebFlux Streaming</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Spring WebFlux Streaming</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/quotes">Quotes</a></li>
                <li class="active"><a href="/guestbook">GuestBook</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container wrapper">
    <h2>GuestBook</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Name</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.id}">Id</td>
            <th th:text="${entry.date}">Some Date</th>
            <th th:text="${entry.name}">Sumo</th>
            <td th:text="${entry.text}">my comment</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script>-->
    <!--fetch('http://localhost:8081/api/staff').then(function(response) {-->
        <!--return response.json();-->
    <!--}).then(function(data) {-->
       <!--console.log('data',data)-->
    <!--});-->
<!--</script>-->
<script>
    var source = new EventSource("/guestbook/feed");
    source.addEventListener('message', function(e) {
        console.log('data', JSON.parse(e.data))
    }, false);

    source.addEventListener('open', function(e) {
        console.log('Connection was opened.', e)
    }, false);

    source.addEventListener('error', function(e) {
        if (e.readyState === EventSource.CLOSED) {
            console.log('Connection was closed.');
        }
        console.log('error:::', e);
    }, false);

</script>
</body>
</html>